[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.27"
angr = "~=9.1"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
