[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
requests = "~=2.32"
djangorestframework = "~=3.16"
gunicorn = "~=25.1"
psycopg2 = "~=2.9"
whitenoise = {version = "~=6.0", extras = ["brotli"]}
pymemcache = "~=4.0"
django-storages = {extras = ["s3"], version = "~=1.13"}

[dev-packages]
django-debug-toolbar = "~=3.8.1"

[requires]
python_version = "3.12"
